.loginForm{
    background-color: rgb(41, 98, 121);
    transform: translate(-50%, -50%);
    position: absolute;
    left:50%;
    top:50%;
    padding: 20px;
    padding-top: 70px;
    padding-bottom: 70px;
    border-radius: 7px;
  }

.inputLogowanie{
    padding: 5px;
}
.inputLogowanie > input {
    background-color: aquamarine;
}